<div class="main-center wrps-dtls">
  <div class="row wrap-main-2">
     <div class="wrapes-inbox">
        <p class="inbox">User Setting
          <ul class="pull-right">
            <li><a href="#">Help</a></li>
            <li><a href="#">Tutarials</a></li>
            <li><a href="#">Quick chat</a></li>
          </ul>
        </p>
    </div>
    <div class="default-model notificaton-page">
      <div class="modelbox-body">
      <!-- Account Settings tab (Component) // Notification tab active-->
        {{account-tab-left-panel class='left-panel padding-none  tabs-left2' isNotificationTabActive=model.isNotificationTabActive}}
          <div class="right-panel">
            <!-- Tab panes -->
              <div class="tab-content wraper-contens">
                <div class="tab-pane active">
                 <!--  <h3 class="model-heading text-center">My Notification Settings</h3> -->
                    <!-- navigation box start -->
                    <div class="navigation-box">
                      <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <h3 class="head-notices">EMAIL NOTIFICATIONS <span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span>
                              <span class="pull-right"><input type="text" value="email@address.com" class="form-control"></span>
                            </h3>
                             <ul class="wrape-notice-tab">
                              <li><input type="checkbox"> Team Tasks</li>
                              <li><input type="checkbox"> Reminders</li>
                              <li><input type="checkbox"> Chat</li>
                              <li><input type="checkbox"> Support Tickets</li>
                              <li><input type="checkbox"> Tags/ Mentions</li>
                              <li><input type="checkbox"> Smart Tasks</li>
                              <li><input type="checkbox"> Reputation Change</li>
                              <li><input type="checkbox"> SERP Shift</li>
                            </ul>
                             <p><span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span><span class="text-do">Do not disturb</span>
                              <span class="noticess-input"><input type="text" value="9:35 pm - 10:34pm" class="form-control"></span>
                             </p>
                           
                         </div>
                        <!--  <div class="col-md-4 col-sm-4 text-right">
                          <input type="text" value="email@address.com" class="form-control">
                         </div> -->
    	                 </div>
                    </div>
                    <!-- navigation box end -->
                    <!-- navigation box start -->
                    <div class="navigation-box">
                      <div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                          <h3 class="head-notices">SMS NOTIFICATIONS
                            <span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span>
                            <span class="pull-right"><input type="text" value="250-123-4567" class="form-control"></span>
                          </h3>
                          <ul class="wrape-notice-tab">
                        
                              <li><input type="checkbox"> Team Tasks</li>
                              <li><input type="checkbox"> Reminders</li>
                              <li><input type="checkbox"> Chat</li>
                              <li><input type="checkbox"> Support Tickets</li>
                              <li><input type="checkbox"> Tags/ Mentions</li>
                              <li><input type="checkbox"> Smart Tasks</li>
                              <li><input type="checkbox"> Reputation Change</li>
                              <li><input type="checkbox"> SERP Shift</li>
                        
                            </ul>
                             <p><span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span><span class="text-do">Do not disturb</span>
                              <span class="noticess-input"><input type="text" value="9:35 pm - 10:34pm" class="form-control"></span>
                             </p>

                        </div>
                         <!-- <div class="col-md-4 col-sm-4 text-right col-xs-12">
                          <input type="text" value="250-123-4567" class="form-control">
                          </div> -->
                       </div>
                    </div>
                    <!-- navigation box end -->
                    <!-- navigation box start -->
                    <div class="navigation-box">
                      <div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                          <h3 class="head-notices">PUSH NOTIFICATIONS
                            <span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span>
                            <span class="pull-right">
                             <ul class="wrapes-push">
                              <li><input type="checkbox"> Eric's Iphone</li>
                              <li><input type="checkbox"> Taylor's S6</li>
                              <li><input type="checkbox"> Taylor's Ipad</li>
                              <!-- <li><input type="checkbox"> Eric's Iphone</li>
                              <li><input type="checkbox"> Taylor's S6</li>
                              <li><input type="checkbox"> Taylor's Ipad</li> -->
                             </ul>
                            </span>
                             
                          </h3>
                           <ul class="wrape-notice-tab">
                              <li><input type="checkbox"> Team Tasks</li>
                              <li><input type="checkbox"> Reminders</li>
                              <li><input type="checkbox"> Chat</li>
                              <li><input type="checkbox"> Support Tickets</li>
                              <li><input type="checkbox"> Tags/ Mentions</li>
                              <li><input type="checkbox"> Smart Tasks</li>
                              <li><input type="checkbox"> Reputation Change</li>
                              <li><input type="checkbox"> SERP Shift</li>
                            </ul>
                             <p><span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span><span class="text-do">Do not disturb</span>
                              <span class="noticess-input"><input type="text" value="9:35 pm - 10:34pm" class="form-control"></span>
                             </p>
                        </div>
                       </div>
                     </div>


                     <!--  <div class="navigation-box">
                      <div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12 scrollable-box text-left">
                          <h3>PUSH NOTIFICATIONS
                          </h3>
                           <ul class="wrape-notice-tab">
                             <li><input type="checkbox"> Eric's Iphone</li>
                              <li><input type="checkbox"> Taylor's S6</li>
                              <li><input type="checkbox"> Taylor's Ipad</li>
                              <li><input type="checkbox"> Eric's Iphone</li>
                              <li><input type="checkbox"> Taylor's S6</li>
                              <li><input type="checkbox"> Taylor's Ipad</li>
                            </ul>
                             <p>Do not disturb <span class="btns-typed">{{bs-switch wrapper-class="toggle-custom" checked="true" off-text="&nbsp;" on-text="&nbsp;"}}</span>
                              <span class="noticess-input"><input type="text" value="9:35 pm - 10:34pm" class="form-control"></span>
                             </p>
                        </div>
                       </div>
                     </div> -->

                    
                    <!-- navigation box end -->
                    <!-- </div class="tab-pane active"> -->
                </div>
                <!-- </div class="tab-content"> -->
              </div>
            <!-- </div class="right-panel"> -->
          </div>
          <div class="clearfix"></div>
        <!-- </div class="modelbox-body"> -->
      </div>
      <!-- </div class="default-model notification page"> -->
    </div>
    <!-- </div class="main-center"> -->
  </div>
</div>