<div class="main-center wrps-dtls">
  <div class="row wrap-main-2">
   
<div class="default-model tsk-details wraper-brands">
	<div class="modelbox-body">
		<div class="right-panel calender">
			<h4 class="calender-title">Calender Page</h4>
			<div class="col-md-3 col-sm-12 col-xs-12 wrap-side-4">
				<h3>Filters</h3>
				<p class="page-head">Categories</p>
				<ul class="camlist">
	            	{{#each model.filters.categories as |item index|}}
					  <li class="y"><span class="inpt-check"><input type="checkbox" checked={{item.isChecked}} {{action "filterCat" item.cat on="change"}}  /></span> <small class="{{item.cat}}">{{item.val}} </small><!-- {{index}} -->
					  </li>
					{{/each}}
            	</ul>
				<p class="page-head">Type</p>
				<ul>
	                {{#each model.filters.types as |item index|}}
					  <li class="y"><span class="inpt-check"><input type="checkbox" checked={{item.isChecked}} {{action "filterType" item.type on="change"}} /></span> {{item.val}} <!-- {{index}} -->
					  </li>
					{{/each}}

	                <!-- <li class="twitter"><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span><span class="icons-sec"><i class="fa fa-twitter" aria-hidden="true"></i></span>Twitter</li>
	                <li class="facebook"><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span><span class="icons-sec"><i class="fa fa-facebook" aria-hidden="true"></i></span>Facebook
	                </li> -->
            	</ul>
				
				<p class="page-head">Status</p>
				<ul>
	                {{#each model.filters.status as |item index|}}
					  <li class="y"><span class="inpt-check"><input type="checkbox" checked={{item.isChecked}} {{action "filterStatus" item.status on="change"}} /></span> {{item.val}} <!-- {{index}} -->
					  </li>
					{{/each}}

	                <!-- <li><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>Approved</li>
	                 <li><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>Pending</li> -->
            	</ul>

            	<p class="page-head">Campaign</p>
				<ul>
	                {{#each model.filters.campaignA as |item index|}}
					  <li class="y"><span class="inpt-check"><input type="checkbox" checked={{item.isChecked}} {{action "filterName" item.campaignName on="change"}} /></span> 
					  <span class="camp-circle" style="background-color:{{item.bgColor}};"></span>{{item.campaignName}} <!-- {{index}} -->
					  </li>
					{{/each}}

	                <!-- <li><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>Approved</li>
	                 <li><span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>Pending</li> -->
            	</ul>


			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="right-calender-panel">
					{{full-calendar 
					events=model.events
					defaultDate=currDate
					editable=false
					eventClick=(action "showDetail")                                         
					header=model.headerObj
					defaultTimedEventDuration = '00:15:00'
					slotDuration= '00:05:00'
				    }}
				</div>
			</div>
		</div>
	</div>
</div>
	{{#if (eq model.detail.show true)}}
	<div class="calender-tooltip">
		<div class="tooltip-content">
			<button class="close-btn" {{action "closeDetail" on="click"}}><i class="fa fa-close"></i></button>
			<p><span class="{{model.detail.className}}">Campaign Name</span> : {{model.detail.title}} </p>
			<p>Start Date : {{model.detail.start}} </p>
			<p><button class="view-btn" {{action "gotToDetail" model.detail on="click"}}>View Details</button></p>
		</div>	
	</div>
	{{/if}}
</div>
</div>