<div class="main-center wrps-dtls">
    <div class="row wrap-main-2">
      <div class="wrapes-inbox">
          <p class="inbox">Brand
          <ul class="pull-right">
              <li>Help</li>
              <li>Tutarials</li>
              <li>Quick chat</li>
          </ul>
          </p>
      </div>
		<div class="default-model tsk-details wraper-brands">
		    <div class="modelbox-body">
		      {{brand-tab-left-panel class='left-panel padding-none  tabs-left2' isTargetAudiencTabActive=model.isTargetAudiencTabActive}}
		        <div class="right-panel">
		          <!-- Tab panes -->
		          <div class="tab-content">
			            <div class="tab-pane active">
								<h4 class="text-center padding-none">Location</h4>
								<div class="text-center">
									<select class="gray-selectbox"> 
										<option>City, Province, Country, Region</option>
									</select>
								</div>
								<div class="col-md-12">
									<hr/>
									<h4 class="text-center padding-none">Age</h4>
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="checkbox">
												{{input type="checkbox" id="children" name="children"}}
												<label for="children">Children(0-12)</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="checkbox">
												{{input type="checkbox" id="adult" name="adult"}}
												<label for="adult">Adult(30-65)</label>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="checkbox">
												{{input type="checkbox" id="teens" name="teens"}}
												<label for="teens">Teens(12-18)</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="checkbox">
												{{input type="checkbox" id="senior" name="senior"}}
												<label for="senior">Senior(65+)</label>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="checkbox">
												{{input type="checkbox" id="remove" name="remove"}}
												<label for="remove">Young Adults(19-30)</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<hr/>
									<h4 class="text-center padding-none">Gender</h4>
									<div class="col-md-12">
									<div class="col-md-6">
										<div class="checkbox">
											{{input type="checkbox" id="male" name="male"}}
											<label for="male">Male</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkbox">
											{{input type="checkbox" id="female" name="female"}}
											<label for="female">Female</label>
										</div>
									</div>
									</div>
								</div>
							    <div class="center-block submit-btn mbs20 mts20">
							        <button type="submit" class="btn btn-success  text-uppercase">Save</button>
							    </div>
			            </div>
		          </div>
		        </div>
		        <div class="clearfix"></div>
		      </div>
		</div>
	</div>
</div>