<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left">
	<li class="{{if isDetailsTabActive 'active'}}">{{#link-to "home.brand.details" class="text-uppercase text-center"}}DETAILS{{/link-to}}</li>
	<li class="{{if isSocialAccountTabActive 'active'}}">{{#link-to "home.brand.socialaccounts"  class="text-uppercase text-center"}}SOCIAL ACCOUNTS{{/link-to}}</li>
	<li class="{{if isTeamTabActive 'active'}}">{{#link-to "home.brand.team" class="text-uppercase text-center"}}TEAM{{/link-to}}</li>
	<li class="{{if isTargetAudiencTabActive 'active'}}">{{#link-to "home.brand.targetaudience" class="text-uppercase text-center"}}TARGET AUDIENCE{{/link-to}}</li>
	<li class="{{if isReviewFlowTabActive 'active'}}">{{#link-to "home.brand.reviewflow" class="text-uppercase text-center"}}REVIEW FLOW{{/link-to}}</li>
	<li class="{{if isGoalTabActive 'active'}}">{{#link-to "home.brand.goals" class="text-uppercase text-center"}}GOALS{{/link-to}}</li>
</ul>