<ul class="nav nav-tabs" role="tablist">
	<li class="{{if isTeamDetailsActive 'active'}}">{{#link-to "home.brand.team.details" class="text-uppercase text-center"}}Details{{/link-to}}</li>
	<li class="{{if isTeamRolesActive 'active'}}">{{#link-to "home.brand.team.roles.list" class="text-uppercase text-center"}}Roles{{/link-to}}</li>
	<li class="{{if isTeamDeptActive 'active'}}">{{#link-to "home.brand.team.departments" class="text-uppercase text-center"}}Departments{{/link-to}}</li>
	<li class="{{if isTeamActivityActive 'active'}}">{{#link-to "home.brand.team.activity" class="text-uppercase text-center"}}Activity{{/link-to}}</li>
	<li class="{{if isTeamChatsActive 'active'}}">{{#link-to "home.brand.team.chats" class="text-uppercase text-center"}}Chats{{/link-to}}</li>
	<li class="{{if isTeamTasksActive 'active'}}">{{#link-to "home.brand.team.tasks" class="text-uppercase text-center"}}Tasks{{/link-to}}</li>
	<li class="{{if isTeamNotesActive 'active'}}">{{#link-to "home.brand.team.notes" class="text-uppercase text-center"}}Notes{{/link-to}}</li>
	<li class="{{if isTeamPostsActive 'active'}}">{{#link-to "home.brand.team.posts" class="text-uppercase text-center"}}Posts{{/link-to}}</li>

</ul>
