<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left "> 
	<li class="{{if isDetailsTabActive 'active'}}">{{#link-to "home.brand.campaign.details" class="text-uppercase text-center"}}Details{{/link-to}}</li>
	<!-- <li class="{{if isChatsTabActive 'active'}}">{{#link-to "home.campaign.chats" class="text-uppercase text-center"}}Chats{{/link-to}}</li>

	<li class="{{if isMetricsTabActive 'active'}}">{{#link-to "home.campaign.metrics" class="text-uppercase text-center"}}Metrics{{/link-to}}</li>
	<li class="{{if isNotesTabActive 'active'}}">{{#link-to "home.campaign.notes" class="text-uppercase text-center"}}Notes{{/link-to}}</li> -->
	<li class="{{if isPostsTabActive 'active'}}">{{#link-to "home.brand.campaign.posts" class="text-uppercase text-center"}}Posts{{/link-to}}</li>
	<!-- <li class="{{if isTasksTabActive 'active'}}">{{#link-to "home.campaign.tasks" class="text-uppercase text-center"}}Tasks{{/link-to}}</li> -->
</ul>